
body {
  background: #fff;
  color: #000;
}
#page-wrapper {
  position: relative;
}
#page {
  width: 820px;
  margin: 0 auto;
  padding: 40px 20px;
}
.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 160px;
  background: #d0e1ec url(../images/bg.png) repeat-x left bottom;
}

#main-wrapper {
  background: #8fa5b4 url(../images/sidebar-bg.png) repeat-y left top;
  margin: 0 -20px 1.5em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  position: relative;
  z-index: 99;
}
#main-content {
  background: url(../images/content-bg.png) repeat-y 180px top;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
.corner {
  position: absolute;
  background-image: url(../images/corners.png);
  background-repeat: no-repeat;
}
.corner-left-top {
  width: 10px;
  height: 10px;
  background-position: left top;
  left: 180px;
  top: 0;
  background-color: #8fa5b4;
}
.corner-right-bottom {
  width: 10px;
  height: 10px;
  background-position: left -10px;
  left: 250px;
  bottom: 0;
  background-color: #eaeaea;
}
.corner-right-top {
  width: 26px;
  height: 29px;
  background-position: right top;
  left: 258px;
  top: 0;
}
.corner-left-bottom {
  width: 26px;
  height: 29px;
  background-position: -10px top;
  left: 156px;
  bottom: 0;
}
#page-title {
  font-weight: bold;
  font-size: 1.714em;
  text-shadow: #fff 0 1px 0;
}
#content {
  background: #eaeaea url(../images/content-bg.png) repeat-y left top;
  padding: 20px 20px 0 100px;
  float: right;
  width: 560px;
  position: relative;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
#sidebar {
  color: #fff;
  padding: 20px 20px 0;
  height: 100%;
  float: left;
  width: 140px;
}
#sidebar a {
  color: #fff;
  text-shadow: #000 0 1px 0;
}
#sidebar .contextual-links a {
  text-shadow: none;
}

#header {
  position: relative;
  z-index: 99;
}
#logo-and-site-name {
  font-size: 3.428em;
  line-height: 1;
}
#logo-and-site-name a {
  color: #71838f;
  text-shadow: #000 0 -1px 0;
}
#logo-and-site-name a:hover {
  text-decoration: none;
}
#logo {
  margin-bottom: -0.15em;
}
#site-slogan {
  font-size: 1.571em;
  text-align: right;
}
#footer {
  font-size: 0.857em;
}
