
.node {
  padding-left: 90px;
  margin-left: -90px;
  position: relative;
}
.node h2 {
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: #fff 0 1px 0;
  padding: 9px 0 0;
}
.node div.links {
  background: #fff;
  padding: 0 4px;
  font-size: 0.857em;
  font-weight: bold;
  text-align: right;
  margin-bottom: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* Calendar-like date display */
.date {
  color: #ccc;
  font-weight: normal;
  font-size: 0.785em;
  text-align: center;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  width: 60px;
}
.date .day {
  font-weight: bold;
  font-size: 2.727em;
  line-height: 1.5;
  margin: 0 6px;
  display: block;
  background: #989898 url(../images/date-bg.png) repeat-x left top;
  color: #333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;
  padding: 2px 0px 1px;
}

/**
 * Pages that display a single full node
 */
body.page-node-full #content .date {
  left: 10px;
  top: 20px;
}
body.page-node-full #content .node {
  padding-left: 0;
  margin-left: 0;
}
