
ul.menu,
ul.links,
ul.tabs {
  list-style: none;
}
ul.inline,
ul.links li,
ul.tabs li {
  display: inline;
}
li a.active {
  color: #000;
}

/**
 * Secondary menu
 */
#secondary-menu {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #ddd;
}
